.content {
    width: 82%;
    float: right;
    text-align: center;
    margin-top: 80px;
    padding: 70px 50px;

    &__data {
        &--block.login {
            label {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                outline: none;
            }

            input {
                border: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                width: 50%;
                margin: 30px 0;
                text-align: center;
                padding: 8px 0;
                outline: none;
            }
        }

        &--button {
            &-search {
                transition: all 1s;
                width: 50%;
                height: 40px;
                border: none;
                border-radius: 8px;
                border: 1px solid transparent;
                background: #000000;
                background: linear-gradient(to bottom, #434343, #000000);
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
                outline: none;

                &:hover {
                    color: black;
                    font-weight: bold;
                    background: none;
                    border: 1px solid black;
                    transition: all 1s;
                }
            }
        }

        &-img {
            margin: 0 auto;
            height: auto;

            img {
                width: 50%;
                margin: 0 auto;
                width: inherit;
            }
            #list-repos {
                display: flex;
                flex-direction: column;
                padding: 0px;
                a {
                    color: black;
                    text-decoration: none;
                    &:hover {
                        box-shadow: inset 0 0 5px 0px black;
                        padding: 5px;
                    }
                }
            }
        }
    }
    #error-login, #error-login-not-found {
        display: none;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        width: 25%;
        margin: 30px auto;
    }

    #deactivated {
        display: none;

        &.active {
            display: block;
            .deactivatedSpan {
                display: block;
                position: relative;
                font-weight:bold;
                font-size: 19px;
                &::before, &::after {
                    content: "+";
                    width: auto;
                    padding: 10px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .content {
        width: 100%;
        padding: 0px;
        margin-top: 110px;
        &__data {
            padding-bottom: 35px;
            &-img {
                #list-repos a {
                    padding: 8px 0;
                }
            }
            &--block.login input {
                width: 80%;
                margin: 50px 0 30px;
            }
            &--button {
                &-search {
                    width: 80%;
                    &:hover {
                        background: #000000;
                        background: linear-gradient(to bottom, #434343, #000000);
                        color: white;
                    }
                }
            }
            #error-login, #error-login-not-found {
                width: 90%;
                margin-top: 70px;
            }
        }
        #img-result {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}
