@import url( 'https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: #304352;
    background: -webkit-linear-gradient(to bottom, #d7d2cc, #304352);
    background: linear-gradient(to bottom, #d7d2cc, #304352);
    background-attachment: fixed;
}
